*{
    margin: 0;
    padding: 0;
}
body{
    width: 98vw;
    height: 98vh;
    display: flex;
    align-items: center;
    gap: 70px;
    background-color: rgba(168, 170, 175, 2);
}

.game-container{
    width: 500px;
    height: 730px;
    position: absolute;
    left: 80px;
    left: 31%;
}
.borderLeft {
    width: 80px;
    height: 790px;
    position: absolute;
    background-color: rgba(168, 170, 175, 2);
    z-index: +2;
    margin-left: 25%;
}
.borderRight {
    width: 80px;
    height: 790px;
    position: absolute;
    background-color: rgba(168, 170, 175, 2);
    z-index: +2;
    left: 905px;
}
.borderTop{
    width: 660px;
    height: 50px;
    position: absolute;
    background-color: rgba(168, 170, 175, 2);
    z-index: +2;
    top: -50px;
}
.sky{
    background-image: url(../images/backgroung.png);
    width: 500px;
    height: 580px;
    position: absolute;
}
.ground{
    background-image: url(../images/bottom.png);
    width: 500px;
    height: 150px;
    position: absolute;
    top: 580px;
    z-index: +1;
}
.bird{
    width: 60px;
    height: 45px;
    position: absolute;
    background-image: url(../images/bird.png);
}
.obstacle {
    background-image: url(../images/obstacle.png);
    width: 60px;
    height: 300px;
    position: absolute;
}
.topObstacle {
    background-image: url(../images/obstacle.png);
    transform: rotate(180deg);
    width: 60px;
    height: 300px;
    position: absolute;
}
.startBtn{
    background-color: white;
    width: 120px;
    height: 60px;
    position: absolute;
    top: 45px;
    left: 190px;
    z-index: 2;
    color: black;
    border-radius: 15px;
    margin-right: 330px;
}
.controls{
    position: absolute;
    top: 113px;
    left: 140px;
}
.score{
    position: absolute;
}